body {
  margin: 1em 0.5em;
  line-height: 1.6;
  font-size: 1em;
}
h2.head {
  font-size: 1.2em;
  border-bottom: 1px solid #999;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}
p {
  text-indent: 2em;
  margin: 0.4em 0;
}
img {
  max-width: 100%;
}
.duokan-image-single {
  text-align: center;
  margin: 0.5em 0;
}
body.cover {
  text-align: center;
}
.cover-image img {
  max-width: 80%;
  margin: 2em auto 1em;
}
.cover-title {
  font-size: 1.4em;
  margin: 0.5em 0;
}
.cover-author {
  font-weight: normal;
  color: #666;
}
